In [11]:
def my_func(name):
    '''
    This prints out the user name
    '''
    print('hello '+name)

In [12]:
my_func('Jose')

hello Jose

In [13]:
my_func

In [14]:
def times_two(var):
    return var*2

In [15]:
times_two(10)

20

In [16]:
lambda var: var*2

In [17]:
st = 'hello my name is Sam'

In [18]:
st.lower()

'hello my name is sam'

In [19]:
st.upper()

'HELLO MY NAME IS SAM'

In [20]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [21]:
tweet = 'Hello #sports'

In [22]:
tweet.split()

['Hello', '#sports']

In [23]:
tweet.split('#')

['Hello ', 'sports']

In [24]:
tweet.split('#')[-1]

'sports'

In [25]:
d = {'k1':'v1','k2':'v2'}

In [26]:
d.keys()

dict_keys(['k1', 'k2'])

In [27]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [28]:
mylist = [1,2,3]

In [29]:
last = mylist.pop()

In [30]:
mylist

[1, 2]

In [31]:
last

3

In [32]:
mylist = [1,2,3]

In [33]:
mylist

[1, 2, 3]

In [34]:
first = mylist.pop(0)

In [35]:
mylist

[2, 3]

In [36]:
first

1

In [37]:
'x' in [1,2,3]

False

In [38]:
1 in [1,2,3]

True

In [39]:
2 in mylist

True