## 24 Spark DataFrame Basics

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('./recursos/Spark_DataFrames/people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [41]:
df.columns

['age', 'name']

In [42]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [43]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [44]:
from pyspark.sql.types import (StructField,StructType,
                               StringType,IntegerType)

In [45]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [46]:
final_struc = StructType(fields=data_schema)

In [66]:
df = spark.read.json('/home/renato/Documentos/udemy_spark/recursos/Spark_DataFrames/people.json', 
                     schema=final_struc)

In [67]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [68]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## 25 Spark DataFrame Basics Part Two

In [50]:
df['age']

Column<b'age'>

In [51]:
type(df['age'])

pyspark.sql.column.Column

In [52]:
df.select('age')

DataFrame[age: int]

In [53]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [54]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [55]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [56]:
df.head(2)[0]

Row(age=None, name='Michael')

In [57]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [58]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [59]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Adicionar uma nova coluna

In [60]:
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [61]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

Como esta operacao "withColumn" nao e' inplace, nao persistira a mudanca em df. Veja no show() abaixo.

In [72]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Para mudar o nome de uma coluna existente.

In [63]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

SQL

In [69]:
df.createOrReplaceGlobalTempView('people')

In [70]:
results = spark.sql("select * from people")

AnalysisException: 'Table or view not found: people; line 1 pos 14'

In [32]:
results.show()

NameError: name 'results' is not defined

In [71]:
new_results = spark.sql("select * from people where age=30")

AnalysisException: 'Table or view not found: people; line 1 pos 14'

In [ ]:
new_results.show()